:root {
	--primary-color: #008b8b;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.btn-primary {
	background-color: var(--primary-color) !important;
	border-color: var(--primary-color) !important;
}

::-ms-reveal {
	display: none;
}
