.header,
.account,
.search {
  display: flex;
  align-items: center;
}

.search,
.logo,
.account,
.navAddr {
  cursor: pointer;
}

.navAddr {
  height: 50px;
  font-size: 16px !important;
  font-weight: 700;
  display: inline-block;
  line-height: 50px;
  padding-top: 4px;
}

.header {
  height: 55px;
  font-weight: 500;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0.1rem 0.1rem 0.2rem rgb(0 0 0 / 10%);
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.search {
  width: 28%;
  position: relative;
}

.account {
  font-size: 15px;
  margin-right: 20px;
}

.logo {
  margin: auto 20px;
}

#headerLeft {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.logo a {
  text-decoration: none;
}

.logo p {
  font-size: 26px !important;
  margin: 0;
  color: black;
  font-weight: 500;
}
.logo p span {
  color: #008b8b;
  font-weight: bolder;
  font-size: 26;
}

.navAddr:hover {
  background-color: #efefef;
  border-bottom: 3.5px solid #008b8b;
  margin-bottom: -2px;
}

.navAddr > a {
  margin: 0 20px;
  position: relative;
  text-decoration: none;
  color: black;
}

.account > span {
  font-weight: 400;
  margin: 0 10px;
}
.account a {
  text-decoration: none;
  color: black;
}

#searchBar {
  border: 2px solid #d9d9d9;
  border-radius: 5px;
  width: 99%;
  outline: none;
  font-size: 12px;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 14px;
  padding-right: 35px;
}

#searchIcon {
  position: absolute;
  right: 15px;
  font-size: 18px;
}

#searchBar:focus {
  border: 2px solid #008b8b;
}

#searchBar:hover {
  border: 2px solid #999;
}

#searchBar::placeholder {
  color: #999;
  font-weight: 600;
  font-family: "system-ui";
  font-size: 12px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content::before,
.dropdown-content::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  width: 0;
  height: 0;
  border-style: solid;
}

.dropdown-content::after {
  right: calc(50% - 7px);
  border-color: transparent transparent #fff transparent;
  border-width: 7px;
}

.dropdown-content::before {
  right: calc(50% - 7px);
  border-color: transparent transparent #666 transparent;
  border-width: 7px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 5px;
  background-color: #f9f9f9;
  filter: drop-shadow(rgba(0, 0, 0, 0.4) 0 2px 3px);
  z-index: 1;
}

/* .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */

.dropdown-content a:hover {
  color: #008b8b;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 1200px) {
  .navAddr > a {
    margin: 0 10px;
  }
}
