#text {
  max-width: 100%;
  margin-left: 10px;
}

#text > p {
  font-size: 18px !important;
  margin-bottom: 0px;
}
#text > #author {
  font-size: 16px !important;
  margin-bottom: 0px;
}

#cart {
  position: absolute;
  right: 20px;
  bottom: 0px;
}

.frame {
  width: 100%;
  border: 1px solid #f0f0f0;
  height: 370px;
}

#info {
  position: relative;
  top: 20px;
}

#text > #price {
  font-size: 20px;
  color: #008b8b;
  margin-top: 20px;
}
