.orderContainer {
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#orderHead {
  border: 1px solid grey;
}
.iconSetting {
  position: relative;
}
.icon {
  cursor: pointer;
}
.iconSetting a {
  text-decoration: none;
  color: inherit;
}
.iconSetting:hover > .action {
  display: block;
}
.iconSetting > .action {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 100%;
  background-color: white;
  width: 100%;
  display: none;
  border: 1px solid grey;
}
.divider {
  line-height: 0.5px;
  border-bottom: 1px solid grey;
}
.deleteBt {
  cursor: pointer;
}
.itemContainer {
  width: 80%;
  border: 0.5px solid rgb(147, 145, 145);
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.item {
  margin: 20px;
  display: flex;
  flex-direction: row;
}
.infor {
  padding-left: 20px;
}
